{
  "policyid": {{ policy_id }},
  "name": "Test Policy",
  "srcintf": [
    {
      "name": "any"
    }
  ],
  "dstintf": [
    {
      "name": "any"
    }
  ],
  "srcaddr": [
    {
      "name": "all"
    }
  ],
  "dstaddr": [
    {
      "name": "all"
    }
  ],
  "rtp-nat": "disable",
  "action": "accept",
  "status": "enable",
  "service": [
    {
      "name": "ALL"
    }
  ],
  "nat": "enable",
}
