<!DOCTYPE html>
<html>
   <head>
      <title>Report Table for Wildfly Servers</title>
   </head>
   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Wildfly Server</th>
            <th>Compliance Issues</th>
            <th>Total Count of Compliance Issues</th>
         </tr>
