<!DOCTYPE html>
<html>
   <head>
      <title>Report Table for Windows VMs</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Windows VM</th>
            <th>List of Required Updates/Packages</th>
         </tr>
