---
- name: Add EPEL repository
  yum_repository:
    name: epel
    description: EPEL YUM repo
    file: epel_repos
    baseurl: "{{ epel_baseurl }}"
    gpgcheck: yes

- name: Add GPG Key
  rpm_key:
    state: present
    key: "{{ epel_rpm_key }}"

- name: Upgrade all packages
  yum:
    name: '*'
    state: latest

- name: Install the required packages
  yum:
    name: "{{ item }}"
    state: present
  loop:
    - xmlstarlet
    - augeas
    - bsdtar
    - unzip
    - java-11-openjdk-devel

- name: Create jboss group
  group:
    name: jboss
    state: present
    gid: 1001

- name: Create {{ jboss_home_directory }} directory
  file:
    path: "{{ jboss_home_directory }}"
    state: directory
    mode: '0755'

- name: Create jboss user
  user:
    name: jboss
    comment: JBoss User
    uid: 1001
    group: jboss
    home: "{{ jboss_home_directory }}"

- name: Update ownership of {{ jboss_home_directory }}
  file:
    path: "{{ jboss_home_directory }}"
    state: directory
    recurse: yes
    owner: jboss
    group: jboss

# Add the WildFly distribution to /opt, and make wildfly the owner of the extracted tar content
- name: Download and Add WildFly distribution
  block:
    - name: Download tar ball
      get_url:
        url: "https://download.jboss.org/wildfly/{{ wildfly_version }}/wildfly-{{ wildfly_version }}.tar.gz"
        dest: "{{ jboss_home_directory }}/wildfly-{{ wildfly_version }}.tar.gz"

    - name: Add WildFly distribution
      shell: >
        sha1sum wildfly-$WILDFLY_VERSION.tar.gz | grep $WILDFLY_SHA1 \
        && tar xf wildfly-$WILDFLY_VERSION.tar.gz \
        && mv wildfly-$WILDFLY_VERSION $JBOSS_HOME \
        && rm -rf wildfly-$WILDFLY_VERSION.tar.gz \
        && chown -R jboss:0 ${JBOSS_HOME} \
        && chmod -R g+rw ${JBOSS_HOME}
      args:
        chdir: "{{ jboss_home_directory }}"

- name: Create tmp directory
  file:
    dest: "{{ jboss_home_directory }}/.ansible/tmp"
    state: directory
    owner: jboss
    group: jboss
  become: yes

- name: Create jboss-wildfly.service systemd unit file
  template:
    src: templates/jboss-wildfly.service.j2
    dest: /etc/systemd/system/jboss-wildfly.service
    mode: 0755

- name: Start WildFly and issue daemon-reload to pick up config changes
  systemd:
    state: started
    daemon_reload: yes
    name: jboss-wildfly

- name: Enable jboss-wildfly service
  service:
    name: jboss-wildfly
    enabled: yes
