unset OS_SERVICE_TOKEN
export OS_USERNAME=admin
export OS_PASSWORD={{ admin_project_password }}
export OS_AUTH_URL=http://192.168.0.20:5000/v2.0
export PS1='[\u@\h \W(keystone_admin)]\$ '
export OS_TENANT_NAME=admin
export OS_REGION_NAME=RegionOne
