[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl=http://192.168.0.5/repos/rhel-7-server-rpms/
enabled=1
gpgcheck=0

[rhel-7-server-rh-common-rpms]
name=Red Hat Enterprise Linux 7 Common
baseurl=http://192.168.0.5/repos/rhel-7-server-rh-common-rpms/
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=Red Hat Enterprise Linux 7 Extras
baseurl=http://192.168.0.5/repos/rhel-7-server-extras-rpms/
enabled=1
gpgcheck=0

[rhel-7-server-optional-rpms]
name=Red Hat Enterprise Linux 7 Optional
baseurl=http://192.168.0.5/repos/rhel-7-server-optional-rpms/
enabled=0
gpgcheck=0

[rhel-7-server-openstack-10-rpms]
name=Red Hat OpenStack Platform 10
baseurl=http://192.168.0.5/repos/rhel-7-server-openstack-10-rpms/
enabled=1
gpgcheck=0

[rhel-7-server-openstack-10-devtools-rpms]
name=Red Hat OpenStack Platform 10 DevTools
baseurl=http://192.168.0.5/repos/rhel-7-server-openstack-10-devtools-rpms/
enabled=1
gpgcheck=0

[rhel-7-server-openstack-10-tools-rpms]
name=Red Hat OpenStack Platform 10 Tools
baseurl=http://192.168.0.5/repos/rhel-7-server-openstack-10-tools-rpms/
enabled=0
gpgcheck=0

[rhel-7-server-openstack-10-optools-rpms]
name=Red Hat OpenStack Platform 10 OpTools
baseurl=http://192.168.0.5/repos/rhel-7-server-openstack-10-optools-rpms/
enabled=0
gpgcheck=0
