{
    "description": "Temporary Site",
    "name": "Temporary_Site",
    "scan": {
        "assets": {
            "includedTargets": {
                "addresses": [
                    "{{ target_server }}"
                ]
            }
        }
    }
}
