---
apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: {{ ocp_cluster_name }}
stringData:
  autoImportRetry: "5"
  kubeconfig:
   token: {{ ocp_token.stdout }}
   server: https://api.{{ ocp_cluster_name }}.{{ ocp_domain_name }}:6443
type: Opaque
