<!DOCTYPE html>
<html>
   <head>
      <title>Report Table for Cisco IOS Routers</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Cisco IOS Routers</th>
            <th>Hostname</th>
            <th>Model Number</th>
            <th>Serial Number</th>
            <th>Software Version</th>
         </tr>
