         <tr>
            <td>{{ inventory_hostname }}</td>
            <td>{{ ansible_net_hostname }}</td>
            <td>{{ ansible_net_model }}</td>
            <td>{{ ansible_net_serialnum }}</td>
            <td>{{ ansible_net_version }}</td>
         </tr>
