{
  "name": "{{ new_build_vars.windows_unattended_install.vmware_cluster.windows_base_vm.name }}",
  "variables": '{"ansible_host": "{{ new_build_vars.windows_unattended_install.iso_build.build_vm_ip }}"}'
}
