<?php
$user = "{{ mysql_user }}";
$password = "{{ mysql_user_password }}";
$database = "{{ mysql_database }}";
$table = "{{ mysql_table }}";

try {
  $db = new PDO("mysql:host=localhost;dbname=$database", $user, $password);
  echo "<h2>Company Employees Information</h2><ol>";
  foreach($db->query("SELECT * FROM $table") as $row) {
    echo "<br/>Name: " . $row["name"]. "<br/>Designation: ". $row["designation"].
    "<br/>Salary ". $row["salary"]. "<br/><br/>";
  }
  echo "</ol>";
} catch (PDOException $e) {
    print "Error!: " . $e->getMessage() . "<br/>";
    die();
}
