# Manual a-priori configuration. Configuration will be only used when the sensor
# is actually installed by the agent.
# The commented out example values represent example configuration and are not
# necessarily defaults. Defaults are usually 'absent' or mentioned separately.
# Changes are hot reloaded unless otherwise mentioned.

# It is possible to create files called 'configuration-abc.yaml' which are
# merged with this file in file system order. So 'configuration-cde.yaml' comes
# after 'configuration-abc.yaml'. Only nested structures are merged, values are
# overwritten by subsequent configurations.

# Mysql
com.instana.plugin.mysql:
  user: '{{ mysql_user }}'
  password: '{{ mysql_user_password }}'
  schema_excludes: ['INFORMATION_SCHEMA', 'PERFORMANCE_SCHEMA']
#  sslTrustStore: '/path/to/truststore.jks'
#  sslTrustStorePassword: 'mysqlTsPassword'
#  sslKeyStore: '/path/to/sslKeyStoreFile.jks'
#  sslKeyStorePassword: 'mysqlKsPassword'
#  disableSslHostnameVerification: false
