# Mysql
com.instana.plugin.mysql:
  user: '{{ mysql_user }}'
  password: '{{ mysql_user_password }}'
  schema_excludes: ['INFORMATION_SCHEMA', 'PERFORMANCE_SCHEMA']
#  sslTrustStore: '/path/to/truststore.jks'
#  sslTrustStorePassword: 'mysqlTsPassword'
#  sslKeyStore: '/path/to/sslKeyStoreFile.jks'
#  sslKeyStorePassword: 'mysqlKsPassword'
#  disableSslHostnameVerification: false
