USE mysql;
GRANT ALL ON *.* TO 'ansible'@'localhost';
FLUSH PRIVILEGES;
GRANT SELECT ON performance_schema.* TO 'ansible'@'localhost';
GRANT SELECT ON performance_schema.events_waits_summary_global_by_event_name TO 'ansible'@'localhost';
GRANT SELECT ON performance_schema.events_statements_summary_by_digest TO 'ansible'@'localhost';
GRANT SELECT ON performance_schema.events_statements_summary_global_by_event_name TO 'ansible'@'localhost';
GRANT REPLICATION CLIENT ON *.* TO 'ansible'@'localhost';
