---
apiVersion: v1
kind: Secret
metadata:
  name: mysql
  namespace: {{ ocp_namespace }}
data:
  db_password: {{ db_password }}
  db_username: {{ db_username }}
  root_password: {{ db_root_password }}
