---
apiVersion: v1
kind: Secret
metadata:
  name: auto-import-secret
  namespace: {{ ocp_import_cluster_namespace }}
stringData:
  autoImportRetry: "5"
  kubeconfig:
  token: {{ ocp_import_cluster_token }}
  server: {{ ocp_import_cluster_api_endpoint }}
type: Opaque
